{% extends 'shablon.html' %}

{% block title %}
    Блог Шамбала Турс
{% endblock %}

{% block content %}

<!-- БЛОГ-->

<!-- создает класс container-->

<div class="container mt-5">
    <h1 class="text-center mb-4">Простой блог</h1>

    <!-- Форма для создания нового поста -->
    <form method="POST" action="/blog/" class="bg-light p-4 rounded shadow-sm">
        <div class="form-group">
            <label for="title">Заголовок:</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="content">Текст поста:</label>
            <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">{{link}}</button>
    </form>
    <hr>

    <!-- Отображение постов -->
    <h2 class="mb-4">Посты:</h2>
    {% for post in posts %}
        <div class="post mb-4 p-3 bg-white rounded shadow-sm">
            <h4>{{ post.title }}</h4>
            <p>{{ post.content }}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}